body {
    background-color: burlywood;
}

.card {
    display: inline-block;
    width: 29%;
    text-align: right;
}

.ddiv {
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: 100%;
}

img {
    width: 100%;
    object-fit: cover;
    cursor: grab;
}

.pong {
    text-align: center;
    font-size: 50px;
    color: brown;
}

.swiper {
    width: 512px;
    height: 512px;
    display: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 660px) {
    .pong {
        display: none;
    }
    .card {
        display: none;
    }
    .swiper {
        display: block;
    }
    .ddiv {
        display:  flex;
        max-width: 660px;
    }
}